.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4vw;
    margin-left: 3vw;
    margin-bottom: 7vw;
}

.section1, .section2 {
    --itemWidth: min(300px, 30vw);
    --itemWidthMinus: calc(-1 * var(--itemWidth));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.section1 > .item:nth-of-type(1) {
    background-image: url(Assets/Team/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section1 > .item:nth-of-type(2) {
    background-image: url(Assets/Team/2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section1 > .item:nth-of-type(3) {
    background-image: url(Assets/Team/3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section2 > .item:nth-of-type(1) {
    background-image: url(Assets/Team/4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section2 > .item:nth-of-type(2) {
    background-image: url(Assets/Team/5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section2 > .item:nth-of-type(3) {
    background-image: url(Assets/Team/6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item {
    box-shadow:
    inset var(--itemWidthMinus) var(--itemWidthMinus) 0 rgba(0, 0, 0, 0.3),
    inset var(--itemWidth) var(--itemWidthMinus) 0 rgba(201, 84, 154, 0.3),
    inset var(--itemWidthMinus) var(--itemWidth) 0 rgba(119, 144, 187, 0.3), 
    inset var(--itemWidth) var(--itemWidth) 0 rgba(59, 188, 227, 0.4), 
    0 0 10vh rgba(95, 169, 253, 0.1);
    transition: box-shadow ease-in-out .6s, color ease-in-out .5s;
    width: var(--itemWidth);
    height: var(--itemWidth);
    border-radius: 50%;
    text-align: center;
    background: center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(var(--itemWidth) / 7);
}

.item:hover {
    box-shadow:
        inset 0 0 0 transparent,
        inset 0 0 0 transparent,
        inset 0 0 0 transparent,
        inset 0 0 0 transparent,
        0 0 5vh rgba(95, 169, 253, 0.178);
    color: transparent;
}

.team-name, .team-post {
    width: 80%;
    user-select: none;
    text-align: center;
    margin: 0;
}

.team-name{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Poppins", system-ui;
    color: #FFFFFF;
}

.team-post{
    color: #FFFFFF;
    font-weight: 500;
    font-family: "Nunito", system-ui;
    margin-top: 0.5rem;
    font-size: 1rem;
}

h3 {
    text-align: center;
    font-size: 2rem;
    font-family: "Poppins", system-ui;
    font-weight: 200;
    margin-bottom: 1rem;
}
