html, body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #000000;
    
}

*{
    box-sizing: border-box;
}

/*Hero Page*/
.hero {
    background-color: #000000;
    padding: 0 5%;
    text-align: left; 
    position: relative;
}

.content {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-left: 3%;
}

.herohead {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-size: 5.5vw;
    margin-top: 0.8vw;
    line-height: 7vw;
    background-image: linear-gradient(to right, #E03E89, #C9549A, #B26CAF, #9081B1, #7790BB, #63A7CF, #3BBCE3, #1FDAFF);
    background-clip: text;
    color: transparent;
}

.herosub {
    font-family: "Nunito", system-ui;
    font-weight: 300;
    font-size: 2.5vw;
    margin-top: -3vw;
    color: white;
}

.clearfix::after{
    content:"";
    clear:both;
    display:table;
}

.clearfix{
    display: flex;
    align-items: flex-start;
}

/*Navbar*/
.logoimg{
    width: 20vw; 
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 4vw;
}

nav{
    position: sticky;
    top:0;
    z-index: 1000; 
    width: 100%;
    background-color: #000000;
}

ul{
    font-family: "Poppins", system-ui;
    font-weight: 400;
    list-style-type: none;
    margin:0;
    padding:0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin-right: 3.5vw;
}

li{
    float:left;
    padding: 2vw;
    font-size: 1.4vw; 
    color:rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    display: block;
    padding: 1vw;
}

li a:hover{
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: #8d6cb2ad;
    text-decoration-thickness: 0.2vw;
}

li:nth-child(2) a{
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: #8d6cb2ad;;
    text-decoration-thickness: 0.2vw;
}

li:nth-child(1) a:hover{
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: #8d6cb2ad;;
    text-decoration-thickness: 0.2vw;
}

.diveinbutton{
    padding:0.8% 1.2%;
    background-image: linear-gradient(to right, #E03E89, #C9549A, #B26CAF, #9081B1);
    color:aliceblue;
    border-radius: 15px;
    font-size: 15px;
    box-shadow:1px 1px 2px 2px #2c2c2c;
}
.diveinbutton:hover{
    background-image: linear-gradient(to right, #B26CAF, #9081B1, #7790BB, #63A7CF, #3BBCE3);
}


/*Headers*/
.header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.header-button.one {
    background: #F63C83;
}

.header-button.two {
    background: #B26CAF;
}

.header-button.three {
    background: #1FDAFF;
}