*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix::after{
    content:"";
    clear:both;
    display:table;
}

.clearfix {
    justify-content: space-between;
    display: flex;
    align-items: right;
}

body {
    background-color: #000000;
}

button,
input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.background {
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 0 1 50rem;
    margin: auto;
    padding: 2rem;
}

.screen {
    position: relative;
    background: #0a0a0a;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #161616;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #F63C83;
}

.screen-header-button.maximize {
    background: #B26CAF;
}

.screen-header-button.minimize {
    background: #1FDAFF;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 30px 50px;
    height: auto;
}

.app-title {
    text-align: right;
    margin-right: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #C9549A, #63A7CF, #3BBCE3, #1FDAFF);
    font-size: 4rem;
}

.form-h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #C9549A, #7790BB, #63A7CF, #3BBCE3);
    font-size: 2rem;
    margin-left: 1.8rem;
    margin-bottom: 0.1rem;
    margin-top: 3rem;
}

.sign-up {
    text-decoration: underline;
    font-weight: 400;
    color: #888;
}

.app-form {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.app-form-group{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.app-form-group textarea{
    width: 100%;
}

.app-form-group.left{
    margin-bottom: 15px;
    margin-left: 1.8rem;
    padding-right: 2rem;
}

.app-form-group.right{
    margin-bottom: 15px;
    margin-right: 1.8rem;
    padding-left: 2rem;
}

.app-form-group label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #ddd;
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

input[type="checkbox"] {
    margin-left: 4rem;
    margin-top: 1.5rem;
    width: 2rem;
    height: 2rem;
    appearance: none;
    background-color: white;
    border: 2px solid #C9549A;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #ff85cece;
    border-color: #ff85cece;
}

input[type="checkbox"]:checked::before {
    content: '✔';
    text-align: center;
    position: absolute;
    left: 0.3rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.checklabel {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: #ddd;
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-top: 1.8rem;
}

.check {
    display: flex;
    align-items: center;
} 

.app-form-group.buttons {
    text-align: right;
    float: right;
}

.address{
    width: 60rem;
}

textarea {
    resize: none;
}

.app-form-control {
    width: 25rem;
    padding: 10px 0;
    padding-left: 1rem;
    background: hsla(0, 0%, 87%, 0.048);
    border: none;
    border-radius: 0.3rem;
    color: #ddd;
    font-size: 0.9rem;
    outline: none;
    transition: border-color .2s;
    caret-color: #ddd;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    background: none;
    border: none;
    color: #C9549A;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 10rem;
    padding-top: 0.8rem;
}

.app-form-button:hover {
    color: #75305a;
}

.dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}